<% unless rodauth(:admin).login_form_footer_links.empty? %>
  <ul>
    <% rodauth(:admin).login_form_footer_links.sort.each do |_, link, text| %>
      <li><%= link_to text, link, class: "text-yellow-600 rounded-sm text-sm hover:underline hover:text-yellow-800 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-yellow-600 dark:text-yellow-300 dark:hover:text-yellow-400 dark:focus-visible:ring-2 dark:focus-visible:ring-yellow-300" %></li>
    <% end %>
  </ul>
<% end %>
