<%= form_with url: rodauth(:admin).logout_path, method: :post, data: { turbo: false }, class: "block w-auto" do |form| %>
  <% if rodauth(:admin).features.include?(:active_sessions) %>
    <div class="mb-6 flex items-center space-x-2">
      <%= form.check_box rodauth(:admin).global_logout_param, id: "global-logout", class: "rounded dark:bg-gray-900 dark:border-gray-600 dark:checked:bg-current dark:checked:border-current dark:checked:text-emerald-400 dark:focus:ring-emerald-400 dark:focus:ring-offset-gray-900", include_hidden: false %>
      <%= form.label "global-logout", rodauth(:admin).global_logout_label, class: "text-sm" %>
    </div>
  <% end %>

  <%= form.submit rodauth(:admin).logout_button, class: "w-full block md:px-4 md:py-2.5 py-2 pl-3 pr-4 text-white bg-gray-700 rounded-lg cursor-pointer md:bg-red-100 md:text-gray-700 md:p-1 dark:text-white" %>
<% end %>
