<div class="md:container m-auto md:border md:border-gray-300 md:rounded-lg p-4">
  <h2 class="font-medium leading-tight text-5xl mb-5"><%= I18n.t('navbar.links.contacts') %></h2>
  <%= Configuration.localized_value_for(:contact_page, '').html_safe %>
</div>