<% content_for :content do %>
  <%= render partial: 'layouts/admin/dashboard/navbar' %>
  <div class="mt-24 md:mt-32" data-controller="transition">
    <%= yield %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
