<% content_for :content do %>
  <%= render partial: 'layouts/admin/rodauth/navbar' %>
  <main class="mt-24 md:mt-32 md:container md:m-auto flex flex-row justify-center">
    <%= yield %>
  </main>
<% end %>
<%= render template: "layouts/application" %>
