<div class="container m-auto border border-solid border-gray-200 rounded-lg p-4 flex flex-col md:flex-row md:gap-4">
  <aside class="flex-5">
    <%= render_tiptap_configuration('main_banner') %>
  </aside>
  <main class="flex-7 md:border-l md:border-solid md:border-gray-200 pl-2">
    <%= render 'landing/home/cars_preview' %>
  </main>
</div>