<div class="container m-auto border border-solid border-gray-200 rounded-lg p-4 flex flex-col md:flex-row md:gap-4 bg-white">
  <aside class="flex-[4_4_0%] mb-16 md:mb-0">
    <%= render_tiptap_configuration('main_banner') %>
  </aside>
  <main class="flex-[7_7_0%] md:border-l md:border-solid md:border-gray-200 pl-2">
    <%= render 'landing/home/cars_preview' %>
  </main>
</div>