<% page_title I18n.t('navbar.links.cars') %>
<div class="flex flex-col">
  <div class="animate-in fade-in duration-1000 flex justify-center items-center md:items-start flex-col md:flex-row gap-x-4 gap-y-4 p-4">
    <%= render partial: 'search_form' %>
    <%= link_to new_admin_dashboard_car_path, class: 'w-48' do %>
      <button class="text-white w-full bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-orange-600 dark:hover:bg-orange-700 focus:outline-none dark:focus:ring-orange-800">
        <%= I18n.t('forms.buttons.new') %>
      </button>
    <% end %>
  </div>
  <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700 mx-5">
  <div id="cars" class="flex flex-wrap justify-center gap-5 p-4 scroll-smooth">
  </div>
</div>

<div class="bottom-1 relative">
  <%= turbo_frame_tag "pagination", src: admin_dashboard_cars_turbo_pagination_path, loading: :lazy %>
</div>
