<% unless rodauth.login_form_footer_links.empty? %>
  <ul>
    <% rodauth.login_form_footer_links.sort.each do |_, link, text| %>
      <li><%= link_to text, link, class: "text-accent rounded-sm text-sm hover:underline hover:text-accent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent dark:text-accent dark:hover:text-accent dark:focus-visible:ring-2 dark:focus-visible:ring-accent" %></li>
    <% end %>
  </ul>
<% end %>
